/.terraform.lock.hcl
/.envrc
/terraform.tfstate
/terraform.tfstate.backup
/.terraform/
/.idea*
*.pem
output
files/linux/ansible/linhosts
files/linux/ansible/powershell-ssh.yml
files/linux/ansible/winhosts
files/linux/ansible/winhosts-ssh
